body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1341px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u67472 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:191px;
  width:1146px;
  height:107px;
}
#u67473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u67473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67474 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u67475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u67475 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67476 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u67477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u67477 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67478 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u67479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u67479 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67480 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u67481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u67481 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67482 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u67483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u67483 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67484 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u67485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u67485 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67486 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u67487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u67487 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67488 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u67489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u67489 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67490 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u67491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u67491 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67492 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u67493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u67493 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67494 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u67495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u67495 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:0px;
  width:96px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67496 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
}
#u67497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:95px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u67498 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u67499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
}
#u67499 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:30px;
  width:95px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
}
#u67500 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  word-wrap:break-word;
}
#u67501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
}
#u67501 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:30px;
  width:95px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67502 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u67503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
}
#u67503 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:30px;
  width:95px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67504 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u67505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
}
#u67505 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:30px;
  width:95px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67506 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u67507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
}
#u67507 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:30px;
  width:95px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67508 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u67509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
}
#u67509 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:30px;
  width:95px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67510 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u67511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
}
#u67511 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:30px;
  width:95px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67512 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u67513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
}
#u67513 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:30px;
  width:95px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67514 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  word-wrap:break-word;
}
#u67515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
}
#u67515 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:30px;
  width:95px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67516 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  word-wrap:break-word;
}
#u67517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
}
#u67517 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:30px;
  width:95px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u67518 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u67519_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:42px;
}
#u67519 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:30px;
  width:96px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
}
#u67520 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u67521 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67522 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u67523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u67523 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:72px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67524 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u67525 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:72px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67526 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67527_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u67527 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:72px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67528 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u67529 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:72px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67530 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u67531 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:72px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67532 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u67533 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:72px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67534 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u67535 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:72px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67536 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u67537 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:72px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67538 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u67539 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:72px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67540 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u67541 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:72px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67542 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u67543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u67543 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:72px;
  width:96px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67544 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
}
#u67545 {
  border-width:0px;
  position:absolute;
  left:1242px;
  top:192px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
}
#u67546 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u67547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
}
#u67547 {
  border-width:0px;
  position:absolute;
  left:1276px;
  top:192px;
  width:29px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
}
#u67548 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u67549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:43px;
  background:inherit;
  background-color:rgba(245, 246, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 230, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67549 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:292px;
  width:1141px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67550 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:1137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67551 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u67552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67552 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:305px;
  width:116px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67553 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u67554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67554 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:297px;
  width:44px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67555 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u67556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67556 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:297px;
  width:33px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67557 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  word-wrap:break-word;
}
#u67558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67558 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:305px;
  width:31px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67559 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u67560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67560 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:297px;
  width:33px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67561 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  word-wrap:break-word;
}
#u67562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67562 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:297px;
  width:44px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67563 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u67564 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:297px;
  width:40px;
  height:32px;
}
#u67564_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u67564_input {
  font-family:'微软雅黑';
}
#u67565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:32px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67565 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:297px;
  width:44px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67566 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u67567 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:297px;
  width:60px;
  height:32px;
}
#u67567_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u67567_input {
  font-family:'微软雅黑';
}
#u67567_input:disabled {
  color:grayText;
}
#u67568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67568 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:92px;
  width:1140px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67569 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67570 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:105px;
  width:55px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67571 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u67572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u67572 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:109px;
  width:20px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67573 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
}
#u67574 {
  border-width:0px;
  position:absolute;
  left:1310px;
  top:192px;
  width:29px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
}
#u67575 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u67576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:28px;
  background:inherit;
  background-color:rgba(35, 192, 250, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u67576 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:150px;
  width:91px;
  height:28px;
  font-size:14px;
  color:#FFFFFF;
}
#u67577 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
