body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1341px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u68743 {
  position:absolute;
  left:199px;
  top:191px;
  width:1146px;
  height:107px;
}
#u68744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u68744 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68745 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u68746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u68746 {
  position:absolute;
  left:95px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68747 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u68748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u68748 {
  position:absolute;
  left:190px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68749 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u68750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u68750 {
  position:absolute;
  left:285px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68751 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u68752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u68752 {
  position:absolute;
  left:380px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68753 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u68754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u68754 {
  position:absolute;
  left:475px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68755 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u68756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u68756 {
  position:absolute;
  left:570px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68757 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u68758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u68758 {
  position:absolute;
  left:665px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68759 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u68760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u68760 {
  position:absolute;
  left:760px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68761 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u68762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u68762 {
  position:absolute;
  left:855px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68763 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u68764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u68764 {
  position:absolute;
  left:950px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68765 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u68766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u68766 {
  position:absolute;
  left:1045px;
  top:0px;
  width:96px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68767 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
}
#u68768 {
  position:absolute;
  left:0px;
  top:30px;
  width:95px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  color:#1E1E1E;
}
#u68769 {
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u68770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
}
#u68770 {
  position:absolute;
  left:95px;
  top:30px;
  width:95px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
}
#u68771 {
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  word-wrap:break-word;
}
#u68772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
}
#u68772 {
  position:absolute;
  left:190px;
  top:30px;
  width:95px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68773 {
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u68774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
}
#u68774 {
  position:absolute;
  left:285px;
  top:30px;
  width:95px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68775 {
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u68776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
}
#u68776 {
  position:absolute;
  left:380px;
  top:30px;
  width:95px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68777 {
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u68778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
}
#u68778 {
  position:absolute;
  left:475px;
  top:30px;
  width:95px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68779 {
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u68780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
}
#u68780 {
  position:absolute;
  left:570px;
  top:30px;
  width:95px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68781 {
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u68782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
}
#u68782 {
  position:absolute;
  left:665px;
  top:30px;
  width:95px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68783 {
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u68784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
}
#u68784 {
  position:absolute;
  left:760px;
  top:30px;
  width:95px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68785 {
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  word-wrap:break-word;
}
#u68786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
}
#u68786 {
  position:absolute;
  left:855px;
  top:30px;
  width:95px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68787 {
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  word-wrap:break-word;
}
#u68788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
}
#u68788 {
  position:absolute;
  left:950px;
  top:30px;
  width:95px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  color:#1E1E1E;
}
#u68789 {
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u68790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:42px;
}
#u68790 {
  position:absolute;
  left:1045px;
  top:30px;
  width:96px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
}
#u68791 {
  position:absolute;
  left:2px;
  top:13px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u68792 {
  position:absolute;
  left:0px;
  top:72px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68793 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u68794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u68794 {
  position:absolute;
  left:95px;
  top:72px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68795 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u68796 {
  position:absolute;
  left:190px;
  top:72px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68797 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u68798 {
  position:absolute;
  left:285px;
  top:72px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68799 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u68800 {
  position:absolute;
  left:380px;
  top:72px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68801 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u68802 {
  position:absolute;
  left:475px;
  top:72px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68803 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u68804 {
  position:absolute;
  left:570px;
  top:72px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68805 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u68806 {
  position:absolute;
  left:665px;
  top:72px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68807 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u68808 {
  position:absolute;
  left:760px;
  top:72px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68809 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u68810 {
  position:absolute;
  left:855px;
  top:72px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68811 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u68812 {
  position:absolute;
  left:950px;
  top:72px;
  width:95px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68813 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u68814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u68814 {
  position:absolute;
  left:1045px;
  top:72px;
  width:96px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68815 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
}
#u68816 {
  position:absolute;
  left:1242px;
  top:192px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
}
#u68817 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u68818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
}
#u68818 {
  position:absolute;
  left:1276px;
  top:192px;
  width:29px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
}
#u68819 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u68820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:43px;
  background:inherit;
  background-color:rgba(245, 246, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 230, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68820 {
  position:absolute;
  left:200px;
  top:292px;
  width:1141px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68821 {
  position:absolute;
  left:2px;
  top:14px;
  width:1137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68822 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u68823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68823 {
  position:absolute;
  left:205px;
  top:305px;
  width:116px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68824 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u68825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68825 {
  position:absolute;
  left:422px;
  top:297px;
  width:44px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68826 {
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u68827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68827 {
  position:absolute;
  left:465px;
  top:297px;
  width:33px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68828 {
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  word-wrap:break-word;
}
#u68829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68829 {
  position:absolute;
  left:501px;
  top:305px;
  width:31px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68830 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u68831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68831 {
  position:absolute;
  left:530px;
  top:297px;
  width:33px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68832 {
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  word-wrap:break-word;
}
#u68833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68833 {
  position:absolute;
  left:562px;
  top:297px;
  width:44px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68834 {
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u68835 {
  position:absolute;
  left:616px;
  top:297px;
  width:40px;
  height:32px;
}
#u68835_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u68835_input {
  font-family:'微软雅黑';
}
#u68836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:32px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68836 {
  position:absolute;
  left:666px;
  top:297px;
  width:44px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68837 {
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u68838 {
  position:absolute;
  left:337px;
  top:297px;
  width:60px;
  height:32px;
}
#u68838_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u68838_input {
  font-family:'微软雅黑';
}
#u68838_input:disabled {
  color:grayText;
}
#u68839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68839 {
  position:absolute;
  left:200px;
  top:92px;
  width:1140px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68840 {
  position:absolute;
  left:2px;
  top:16px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68841 {
  position:absolute;
  left:209px;
  top:105px;
  width:55px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68842 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u68843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u68843 {
  position:absolute;
  left:269px;
  top:109px;
  width:20px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
}
#u68844 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
}
#u68845 {
  position:absolute;
  left:1310px;
  top:192px;
  width:29px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
}
#u68846 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u68847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:28px;
  background:inherit;
  background-color:rgba(35, 192, 250, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u68847 {
  position:absolute;
  left:200px;
  top:150px;
  width:91px;
  height:28px;
  font-size:14px;
  color:#FFFFFF;
}
#u68848 {
  position:absolute;
  left:16px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u68849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
  color:#4EDEFE;
}
#u68849 {
  position:absolute;
  left:234px;
  top:506px;
  width:61px;
  height:17px;
  font-size:12px;
  text-decoration:underline;
  color:#4EDEFE;
}
#u68850 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u68851 {
  position:absolute;
  left:213px;
  top:528px;
  width:1133px;
  height:35px;
}
#u68852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u68852 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
  font-size:12px;
}
#u68853 {
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
#u68854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u68854 {
  position:absolute;
  left:161px;
  top:0px;
  width:161px;
  height:30px;
  font-size:12px;
}
#u68855 {
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
#u68856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u68856 {
  position:absolute;
  left:322px;
  top:0px;
  width:161px;
  height:30px;
  font-size:12px;
}
#u68857 {
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
#u68858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u68858 {
  position:absolute;
  left:483px;
  top:0px;
  width:161px;
  height:30px;
  font-size:12px;
}
#u68859 {
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
#u68860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u68860 {
  position:absolute;
  left:644px;
  top:0px;
  width:161px;
  height:30px;
  font-size:12px;
}
#u68861 {
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
#u68862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u68862 {
  position:absolute;
  left:805px;
  top:0px;
  width:161px;
  height:30px;
  font-size:12px;
}
#u68863 {
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
#u68864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u68864 {
  position:absolute;
  left:966px;
  top:0px;
  width:162px;
  height:30px;
  font-size:12px;
}
#u68865 {
  position:absolute;
  left:2px;
  top:6px;
  width:158px;
  word-wrap:break-word;
}
#u68866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u68866 {
  position:absolute;
  left:219px;
  top:510px;
  width:12px;
  height:12px;
  font-size:12px;
}
#u68867 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68868 {
  position:absolute;
  left:209px;
  top:618px;
  width:1133px;
  height:95px;
}
#u68869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u68869 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
  font-size:12px;
}
#u68870 {
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
#u68871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u68871 {
  position:absolute;
  left:161px;
  top:0px;
  width:161px;
  height:30px;
  font-size:12px;
}
#u68872 {
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
#u68873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u68873 {
  position:absolute;
  left:322px;
  top:0px;
  width:161px;
  height:30px;
  font-size:12px;
}
#u68874 {
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
#u68875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u68875 {
  position:absolute;
  left:483px;
  top:0px;
  width:161px;
  height:30px;
  font-size:12px;
}
#u68876 {
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
#u68877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u68877 {
  position:absolute;
  left:644px;
  top:0px;
  width:161px;
  height:30px;
  font-size:12px;
}
#u68878 {
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
#u68879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u68879 {
  position:absolute;
  left:805px;
  top:0px;
  width:161px;
  height:30px;
  font-size:12px;
}
#u68880 {
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
#u68881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u68881 {
  position:absolute;
  left:966px;
  top:0px;
  width:162px;
  height:30px;
  font-size:12px;
}
#u68882 {
  position:absolute;
  left:2px;
  top:6px;
  width:158px;
  word-wrap:break-word;
}
#u68883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u68883 {
  position:absolute;
  left:0px;
  top:30px;
  width:161px;
  height:30px;
  font-size:12px;
}
#u68884 {
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
#u68885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u68885 {
  position:absolute;
  left:161px;
  top:30px;
  width:161px;
  height:30px;
  font-size:12px;
}
#u68886 {
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
#u68887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u68887 {
  position:absolute;
  left:322px;
  top:30px;
  width:161px;
  height:30px;
  font-size:12px;
}
#u68888 {
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u68889 {
  position:absolute;
  left:483px;
  top:30px;
  width:161px;
  height:30px;
  font-size:12px;
}
#u68890 {
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u68891 {
  position:absolute;
  left:644px;
  top:30px;
  width:161px;
  height:30px;
  font-size:12px;
}
#u68892 {
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u68893 {
  position:absolute;
  left:805px;
  top:30px;
  width:161px;
  height:30px;
  font-size:12px;
}
#u68894 {
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u68895 {
  position:absolute;
  left:966px;
  top:30px;
  width:162px;
  height:30px;
  font-size:12px;
  text-decoration:underline;
  color:#0000FF;
}
#u68896 {
  position:absolute;
  left:2px;
  top:6px;
  width:158px;
  word-wrap:break-word;
}
#u68897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u68897 {
  position:absolute;
  left:0px;
  top:60px;
  width:161px;
  height:30px;
  font-size:12px;
}
#u68898 {
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
#u68899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u68899 {
  position:absolute;
  left:161px;
  top:60px;
  width:161px;
  height:30px;
  font-size:12px;
}
#u68900 {
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
#u68901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u68901 {
  position:absolute;
  left:322px;
  top:60px;
  width:161px;
  height:30px;
  font-size:12px;
}
#u68902 {
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u68903 {
  position:absolute;
  left:483px;
  top:60px;
  width:161px;
  height:30px;
  font-size:12px;
}
#u68904 {
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u68905 {
  position:absolute;
  left:644px;
  top:60px;
  width:161px;
  height:30px;
  font-size:12px;
}
#u68906 {
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u68907 {
  position:absolute;
  left:805px;
  top:60px;
  width:161px;
  height:30px;
  font-size:12px;
}
#u68908 {
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u68909 {
  position:absolute;
  left:966px;
  top:60px;
  width:162px;
  height:30px;
  font-size:12px;
  text-decoration:underline;
  color:#0000FF;
}
#u68910 {
  position:absolute;
  left:2px;
  top:6px;
  width:158px;
  word-wrap:break-word;
}
#u68911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0000FF;
}
#u68911 {
  position:absolute;
  left:1175px;
  top:648px;
  width:162px;
  height:60px;
  font-size:12px;
  color:#0000FF;
}
#u68912 {
  position:absolute;
  left:2px;
  top:22px;
  width:158px;
  word-wrap:break-word;
}
#u68913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
}
#u68913 {
  position:absolute;
  left:1014px;
  top:648px;
  width:162px;
  height:60px;
  font-size:12px;
  color:#1E1E1E;
}
#u68914 {
  position:absolute;
  left:2px;
  top:22px;
  width:158px;
  word-wrap:break-word;
}
#u68915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
}
#u68915 {
  position:absolute;
  left:209px;
  top:648px;
  width:162px;
  height:60px;
  font-size:12px;
  color:#1E1E1E;
}
#u68916 {
  position:absolute;
  left:2px;
  top:22px;
  width:158px;
  word-wrap:break-word;
}
